# -------------------------------
# Sensitive files (DO NOT COMMIT)
# -------------------------------
encrypted_seed.txt

# -------------------------------
# Python cache files
# -------------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------------
# Environment / config files
# -------------------------------
.env

# -------------------------------
# IDE / Editor files
# -------------------------------
.vscode/
.idea/
